{% extends 'layouts/default.html' %}

{% block title %} Crear Producto - JAGUARETE KAA S.A {% endblock %}

{% block css %} 
<link rel="stylesheet" href="{{ MEDIA_URL }}css/component.css">
{% endblock %}

{% block body %}
<!-- product  -->
<section class="product st-mt">
  <div class="container">
    <div class="row g-3 justify-content-between">
      <div class="col-md-6">
        <div class="alert alert-danger alert-image" id="imageAlert">
          <button type="button" class="close" data-remove-alert="alert" aria-hidden="true">×</button>
          <div id="messageAlert">
            <!-- message -->
          </div>
        </div>
        <div class="field-group">
          <label for="image">Imagen* (Min 500 x 500 px - Max 2000 x 2000 px)</label>
          <div class="btn-cargarImg btn-cargarImg-width">
            <div class="image_base_weight">
              <img src="{{ MEDIA_URL }}img/backgroundCaja.png" id="img_new" style="width:100%;height: 100%;" alt="">
            </div>
          
            <input type="file" name="image" class="inputfile inputfile-1" id="imageProduct" required>
                                  
            <label for="imageProduct" id="img_file">
              <img src="{{ MEDIA_URL }}img/backgroundCaja.png" id="img_new" style="width:100%;height: 100%;" alt=""></label>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="product-text">
          <form action="">
            <div class="row g-3">
              <div class="col-md-12 field-group">
                <label for="">Nombre del Producto*</label>
                <input type="text" name="name" placeholder="Audifonos..." class="form-control">
              </div>
              <div class="col-md-12 field-group">
               <label for="">Categoría*</label>
               <select name="category" id="category" class="form-control">
                 <option value="">-- Seleccione --</option>
                 <option value="">Sonido</option>
               </select>
              </div>
              <div class="col-md-12 field-group">
                <label for="">Precio*</label>
                <input type="number" name="price" placeholder="$0.00" class="form-control" min="0">
              </div>
              <div class="col-md-12 field-group">
                <label for="">Cantidad*</label>
                <input type="number" name="price" placeholder="0" class="form-control" min="0">
              </div>
              <div class="col-md-12 field-group">
                <label for="">Descripción*</label>
                <textarea name="description" id="description" cols="30" rows="10" placeholder="Texto descriptivo" class="form-control"></textarea>
              </div>

              <div class="col-md-12 field-group">
                <button class="btn btn-yellow">Guardar</button>
                <a href="#" class="btn btn-danger">Cancelar</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script src="{{ MEDIA_URL }}js/custom-file-input.js"></script>
<script>
var baseRoot = '{{ MEDIA_URL }}';
</script>
{% endblock %}