{% extends 'layouts/default.html' %}

{% block title %} Producto - JAGUARETE KAA S.A {% endblock %}

{% block body %}
<!-- product  -->
<section class="product st-mt">
  <div class="container">
    <div class="row g-3 justify-content-between">
      <div class="col-md-6">
        <div class="product-img">
          <img data-src="{{ MEDIA_URL }}img/products/1.png" class="lazyload" alt="">
        </div>
      </div>
      <div class="col-md-5">
        <div class="product-text">
          <h2>Audifonos SG 90</h2>
          <h3><b>Categoría: </b> Sonido</h3>
          <h3><b>Precio: </b> $90.00</h3>
          <h3><b>Descripción:</b></h3>
          <p>Auriculares bluetooth inalámbrico con Bluetooth 5.0, la nueva generación de tecnología Bluetooth para conexiones más rápidas y estables, Batería de larga duración de 12h, Con la caja de carga, cepille 6 películas, Botón multifunción Binaural para un fácil control de la música y el teléfono.

No tiene cargador ni Cable en la caja
Crisol de grafito mini horno de oro de la antorcha de fusión del metal:
Caja de carga * 1       
Manual de usuario * 1</p>
          <h3><b>Cantidad: </b></h3>
          <div class="product-actions">
            <div class="product-quantity">
              <input type="number" min="1" placeholder="--" name="quantity" value="1">
              <div class="qt-btns">
                <button><i class="fa fa-plus"></i></button>
                <button><i class="fa fa-minus"></i></button>
              </div>
            </div>

            <div class="product-btns">
              <button class="btn btn-yellow"><i class="fa fa-shopping-cart"></i>Agregar al Carro</button>
              <!-- <button class="btn btn-danger"><i class="fa fa-trash"></i>Eliminar</button>
              <button class="btn btn-dark"><i class="fa fa-edit"></i>Modificar</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}