<!-- footer -->
<footer class="footer st-mt">
  <div class="container">
    <div class="footer-items">
      <div class="footer-item">
        <img data-src="{{ MEDIA_URL }}img/logo.png" class="lazyload" alt="">
        <p>Somos un equipo de profesionales en el área de la tecnología que busca ayudar a las personas a encontrar los mejores productos tecnológicos y de calidad.</p>
      </div>
      <div class="footer-item">
        <h2>Links</h2>
        <div class="menu-footer">
          <ul>
            <li><a href="{% url 'public:index' %}">Home</a></li>
            <li><a href="{% url 'public:about' %}">Acerca de</a></li>
            <li><a href="mailto:contact@jaguaretekaasa.com">Contacto</a></li>
            <li><a href="{% url 'public:product' %}">Productos</a></li>
          </ul>
          <ul>
            <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
            <li><a href="{% url 'public:register' %}">Registrarse</a></li>
            <li><a href="{% url 'public:cart' %}">Carro</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-item">
        <h2>Síguenos en:</h2>
        <ul class="social">
          <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>© Copyright 2021 - Derechos reservados a <b>Jaguarete kaa s.a</b> - Desarrollado por <a href="http://www.badeveloper.com/" target="_blank"><b>Brian Alzate - Developer</b></a></p>
  </div>
</footer>