 <!-- header -->
<header class="header" id="header">
  <div class="container">
    <div class="top-menu" id="topMenu">
      <div class="tp-menu-message">
        <span>Bienvenidos...</span>
      </div>
      <div class="tp-menu-items">
        <ul>
          {% if user.is_authenticated %}
              <li><a href="{% url 'logout'%}?next={{request.path}}">Cerrar Sesión</a></li>
          {% else %}                  
              <li><a href="{% url 'login'%}?next={{request.path}}">Ingresar</a></li>
              <li><a href="{% url 'public:register' %}">Registrarse</a></li>
          {% endif %} 
          
          <li>
            <div class="cart-h" id="cartBtn">
              <i class="fa fa-shopping-cart"></i><span>1</span>
            </div>
            <div class="cart-list" id="cartList">
              <ul id="cartProducts">
                <li>
                  <div class="ct-ls-img-product">
                    <img src="{{ MEDIA_URL }}img/products/1.png" alt="">
                  </div>
                  <div class="ct-ls-description">
                    <a href=""><i class="close fa fa-times"></i></a>
                    <p>Audifonos SG 90</p>
                    <span>1 x $90.00</span>
                  </div>
                </li>
                <li>
                  <div class="ct-ls-img-product">
                    <img src="{{ MEDIA_URL }}img/products/2.png" alt="">
                  </div>
                  <div class="ct-ls-description">
                    <a href=""><i class="close fa fa-times"></i></a>
                    <p>Camara Pro 45</p>
                    <span>1 x $200.00</span>
                  </div>
                </li>
                <li>
                  <div class="ct-ls-img-product">
                    <img src="{{ MEDIA_URL }}img/products/3.png" alt="">
                  </div>
                  <div class="ct-ls-description">
                    <a href=""><i class="close fa fa-times"></i></a>
                    <p>Ipad 5.0</p>
                    <span>1 x $190.00</span>
                  </div>
                </li>
                <li>
                  <div class="ct-ls-img-product">
                    <img src="{{ MEDIA_URL }}img/products/5.png" alt="">
                  </div>
                  <div class="ct-ls-description">
                    <a href=""><i class="close fa fa-times"></i></a>
                    <p>Protatil Dell</p>
                    <span>1 x $880.00</span>
                  </div>
                </li>
              </ul>
              <div class="ct-btns">
                <a href="{% url 'public:cart' %}" class="btn btn-yellow">Ver Carro</a>
                <a href="" class="btn btn-dark">Ir a Pagar</a>
              </div>
            </div>
          </li>
          <li>
            <div class="search-h" id="searchBtn">
              <i class="fa fa-search"></i>
            </div>
            <div class="search-form" id="searchContent">
              <form id="searchForm">
                <input type="search" name="search" placeholder="Buscar..." class="form-control">
                <button><i class="fa fa-search"></i></button>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>        
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <div class="container">
      <a class="navbar-brand" href="{% url 'public:index' %}">
        <img src="{{ MEDIA_URL }}img/logo.png" alt="" width="100" height="60" class="logo d-inline-block align-text-top" id="logoMenu">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'public:index' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Categorías
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% for category in categories %}
              <li><a class="dropdown-item" href="#">{{ category.name }}</a></li>
              {% empty %}
              <li class="text-center">No se han encontrado Categorías...</li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'public:about' %}">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:contact@jaguaretekaasa.com">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>