{% extends "registration/layout.html" %}

{% block title %} Iniciar Sesión- JAGUARETE KAA S.A {% endblock %}

{% block body %}

 <!-- banner -->
<section class="banner lazyload" data-src="{{ MEDIA_URL }}img/1.png">
  <div class="container">
    <div class="banner-text">
      <h1>Iniciar Sesión</h1>
      <p>En esta sección puedes iniciar sesión para poder comprar los productos que más te gusten.</p>
    </div>
  </div>
</section>

<!-- login -->
<section class="form-site st-mt">
  <div class="container">
    <div class="form-content site-sm">
     <div class="st-text">
      <h2>Iniciar Sesión</h2>
      <p>Inicie sesión para realizar sus compras.</p>
     </div>
     <form id="form_login" method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="row g-3">
       <!-- message alert -->
       <div class="message-alerts" id="alertMessage_login"></div>
       <div class="col-md-126">
         <input type="text" class="form-control" placeholder="Usuario" name="username" id="username_login">
       </div>
       <div class="col-md-12 field-password">
         <input type="password" class="form-control" placeholder="Contraseña" name="password" id="password_login">
         <i class="button-password" id="buttonPasswordLogin" onclick="showPassword('password_login','buttonPasswordLogin');" data-status-password="false"></i>
       </div>
       <div class="col-md-12">
          <div class="link-form">
            <span data-link-btn="forgot">Olvidé mi contraseña</span>
          </div>
       </div>
       <div class="col-md-12">
          <button class="btn btn-yellow" data-btn-send="politicies_register">Entrar</button>
          <input type="hidden" name="next" value="{{ next }}" />
       </div>
      </div>
     </form>
     <form id="form_forgot" style="display: none;">
       <div class="row g-3">
         <!-- message alert -->
         <div class="message-alerts" id="alertMessage_forgot"></div>
         <div class="col-md-12">
           <input type="email" class="form-control" placeholder="Correo Electrónico" name="email" id="email_forgot">
         </div>
         <div class="col-md-12">
            <div class="link-form">
              <span data-link-btn="login">Iniciar Sesión</span>
            </div>
         </div>
         <div class="col-md-12">
            <button class="btn btn-yellow">Enviar</button>
         </div>
       </div>
     </form>
    </div>
  </div>
</section>

{% endblock %}

{% block script %}
<script src="{{ MEDIA_URL }}js/textMessage.js"></script>
<script src="{{ MEDIA_URL }}js/auth-users.js"></script>
<script>
  var btns = document.querySelectorAll('[data-link-btn]');

    for(let i = 0; i < btns.length; i++)
    {
      btns[i].addEventListener('click', function(e) {

        for(let e = 0; e < btns.length; e++)
        {
          let form = btns[e].parentElement.parentElement.parentElement.parentElement;

          if(form.id === 'form_'+this.dataset.linkBtn)
          {
              form.style.display = 'block';
          }
          else
          {
              form.style.display = 'none';
          }
        }

      });
    }
</script>
{% endblock%}