{% extends "registration/layout.html" %}

{% block title %} Crear Cuenta - JAGUARETE KAA S.A {% endblock %}

{% block body %}

  <!-- banner -->
    <section class="banner lazyload" data-src="{{ MEDIA_URL }}img/1.png" id="form_site">
      <div class="container">
        <div class="banner-text">
          <h1>Crear Cuenta</h1>
          <p>En esta sección puedes crear tu cuenta para poder comprar los productos que más te gusten.</p>
        </div>
      </div>
    </section>

    <!-- register -->
    <section class="form-site st-mt">
      <div class="container">
        <div class="form-content">
          <div class="st-text">
            <h2>Crear Cuenta</h2>
            <p>Registrate y disfruta comprando los mejores productos a medida en nuestro sitio.</p>
          </div>

         <form id="form_register" method="POST">
            {% csrf_token %}
            <div class="row g-3">
               <!-- message alert -->
               <div class="message-alerts" id="alertMessage_register"></div>
               <div class="col-md-6">
                 <input type="text" class="form-control" placeholder="Nombre" name="first_name" id="name_register">
               </div>
               <div class="col-md-6">
                 <input type="text" class="form-control" placeholder="Apellidos" name="last_name" id="last_name_register">
               </div>
               <div class="col-md-6">
                 <input type="text" class="form-control" placeholder="Usuario" name="username" id="username_register">
               </div>
               <div class="col-md-6">
                 <input type="email" class="form-control" placeholder="Correo Electrónico" name="email" id="email_register">
               </div>
               <div class="col-md-6 field-password">
                 <input type="password" class="form-control" placeholder="Contraseña" name="password" id="password_register">
                 <i class="button-password" id="buttonPasswordRegister" onclick="showPassword('password_register','buttonPasswordRegister');" data-status-password="false"></i>
               </div>
               <div class="col-md-6 field-password">
                 <input type="password" class="form-control" placeholder="Confirmar Contraseña" name="password_confirm" id="password_confirm_register">
                 <i class="button-password" id="buttonPasswordConfirmRegister" onclick="showPassword('password_confirm_register','buttonPasswordConfirmRegister');" data-status-password="false"></i>
               </div>
               <div class="col-md-12">
                  <div class="form-check">
                    <input class="form-check-input" name="politicies" type="checkbox" id="gridCheck" checked onchange="enablebtn('politicies_register',this);">
                    <label class="form-check-label" for="gridCheck">
                      Acepto las políticas de tratamiento de datos.
                    </label>
                  </div>
               </div>
               <div class="col-md-12">
                  <button class="btn btn-yellow" data-btn-send="politicies_register">Registrarse</button>
               </div>
            </div>
         </form>
        </div>
      </div>
    </section>
  
{% endblock %}

{% block script %}
<script src="{{ MEDIA_URL }}js/textMessage.js"></script>
<script src="{{ MEDIA_URL }}js/auth-users.js"></script>
{% endblock %}