<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Pragma" content="no-cache">
  <link rel="icon" type="image/png" href="{{ MEDIA_URL }}img/favicon.png" />
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- styles -->
  <link rel="stylesheet" href="{{ MEDIA_URL  }}mng/font-awesome/css/all.css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/styles.css">
  {% block css %} 
  {#-- css --#}
  {% endblock %}
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Tangerine:400" rel="stylesheet" type="text/css">
</head>
<body>
  <!-- loading -->
  <div class="loader-container" id="loading">
    <div class="loader-animation">
      <div class="lds-dual-ring"></div>
    </div>
  </div>
  <!-- start contentId -->
  <div id="contentID" style="opacity: 0;">
   
    {% include 'elements/page/menu.html' %}

    {% block body %}
    {#-- body --#}
    {% endblock %}

    {% include 'elements/page/footer.html' %}

  </div>
  <!-- end contentID -->
  
  <!-- bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- scripts -->
  <script src="{{ MEDIA_URL }}js/jquery-3.5.1.js"></script>
  <script src="{{ MEDIA_URL }}js/script.js"></script>
  <script src="{{ MEDIA_URL }}mng/lazyload-2.x/lazyload.js"></script>

  <script>

    lazyload();

    window.addEventListener('load', function(){
      let container = document.getElementById('loading');
      setTimeout(function() {
          container.classList.add('closelg');
        document.body.style.overflowY= "visible";// despueés de cargar le devolvemos el scroll
        document.getElementById('contentID').style.opacity = '1';
      }, 500);
    });

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });

  </script>

  {% block script %}
  {#-- script --#}
  {% endblock %}
</body>
</html>