{% extends 'layouts/default.html' %}

{% block title %} Acerca de - JAGUARETE KAA S.A {% endblock %}

{% block body %}
<!-- banner -->
<section class="banner lazyload" data-src="{{ MEDIA_URL }}img/1.png">
  <div class="container">
    <div class="banner-text">
      <h1>Acerca de</h1>
      <h2>Jaguarete kaa s.a</h2>
      <p>Somos un equipo de profesionales en el área de la tecnología que busca ayudar a las personas a encontrar los mejores productos tecnológicos y de calidad.</p>
    </div>
  </div>
</section>

<!-- about -->
<section class="about st-mt">
  <div class="container">
    <div class="about-content">
      <img data-src="{{ MEDIA_URL }}img/2.png" class="lazyload" alt="">
      <div class="about-text">
        <h2>Jaguarete kaa s.a</h2>
        <p>Somos un equipo de profesionales en el área de la tecnología que busca ayudar a las personas a encontrar los mejores productos tecnológicos y de calidad.</p>
        <p>Nuestro compromiso es el brindar productos de alta calidad a las personas y ellas puedan disfrutar de los beneficios que se aquieren al comprar nuestros productos que busca mejorar el bienestrar de la gente.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}