{% extends 'layouts/default.html' %}

{% block title %} Carro - JAGUARETE KAA S.A {% endblock %}

{% block body %}

<!-- banner -->
    <section class="banner lazyload" data-src="{{ MEDIA_URL }}img/1.png">
      <div class="container">
        <div class="banner-text">
          <h1>Carro de Compras</h1>
          <p>Desde aquí podrás ver todos los productos que has agregado al carro.</p>
        </div>
      </div>
    </section>

    <!-- cart -->
    <section class="cart st-mt">
      <div class="container">
        <div class="table-responsive">
          <table class="table text-center">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href=""><img data-src="{{ MEDIA_URL }}img/products/1.png" class="lazyload" width="70" alt=""></a></td>
                <td class="name"><a href="">Audifonos SG 90</a></td>
                <td><p>$90.00 <strike>$100.00</strike></p></td>
                <td>
                  <div class="quantity">
                    <input type="number" min="1" placeholder="--" name="quantity" value="1">
                    <div class="qt-btns">
                      <button><i class="fa fa-plus"></i></button>
                      <button><i class="fa fa-minus"></i></button>
                    </div>
                  </div>
                </td>
                <td><p>$90.00 <strike>$100.00</strike></p></td>
                <td><a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Quitar Producto"><i class="fa fa-times"></i></a></td>
              </tr>
              <tr>
                <td><a href=""><img data-src="{{ MEDIA_URL }}img/products/2.png" class="lazyload" width="70" alt=""></a></td>
                <td class="name"><a href="">Camara Pro 45</a></td>
                <td><p>$200.00</p></td>
                <td>
                  <div class="quantity">
                    <input type="number" min="1" placeholder="--" name="quantity" value="1">
                    <div class="qt-btns">
                      <button><i class="fa fa-plus"></i></button>
                      <button><i class="fa fa-minus"></i></button>
                    </div>
                  </div>
                </td>
                <td><p>$200.00</p></td>
                <td><a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Quitar Producto"><i class="fa fa-times"></i></a></td>
              </tr>
              <tr>
                <td><a href=""><img data-src="{{ MEDIA_URL }}img/products/3.png" class="lazyload" width="70" alt=""></a></td>
                <td class="name"><a href="">Ipad 5.0</a></td>
                <td><p>$190.00</p></td>
                <td>
                  <div class="quantity">
                    <input type="number" min="1" placeholder="--" name="quantity" value="1">
                    <div class="qt-btns">
                      <button><i class="fa fa-plus"></i></button>
                      <button><i class="fa fa-minus"></i></button>
                    </div>
                  </div>
                </td>
                <td><p>$190.00</p></td>
                <td><a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Quitar Producto"><i class="fa fa-times"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="cart-values">
          <p><b>Total: </b> <span id="total">$300.00</span></p>
        </div>
        <div class="cart-btns">
          <a href="" class="btn btn-dark">Seguir Comprando</a>
          <a href="" class="btn btn-dark">Vaciar Carro</a>
          <a href="" class="btn btn-yellow">Ir a Pagar</a>
        </div>
      </div>
    </section>

{% endblock %}