{% extends 'layouts/default.html' %}

{% block title %} Home - JAGUARETE KAA S.A {% endblock %}

{% block body %}
<!-- banner -->
<section class="banner lazyload" data-src="{{ MEDIA_URL }}img/1.png">
  <div class="container">
    <div class="banner-text">
      <h1>Bienvenidos a</h1>
      <h2>Jaguarete kaa s.a</h2>
      <p>Tenemos los mejores productos tecnologicos del mercado, con calidad y a buen precio.</p>
      <a href="{% url 'public:about' %}" class="btn btn-yellow">Nosotros</a>
    </div>
  </div>
</section>

<!-- last products -->
<section class="last_products st-mt">
  <div class="container">
    <div class="st-text">
      <h2>Últimos Productos</h2>
      <p>Estos son algunos de nuestros últimos productos.</p>
    </div>
    <div class="product-items">
      <div class="product-item">
        <div class="product-item-img">
          <a href="{% url 'public:product' %}"><img data-src="{{ MEDIA_URL }}img/products/1.png" class="lazyload" alt=""></a>
        </div>
        <div class="product-item-text">
          <a href="{% url 'public:product' %}"><h2>Audifonos SG 90</h2></a>
          <p>$90.00 <strike>$100.00</strike></p>
          <div class="product-item-btns">
            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar al Carro"><i class="fa fa-shopping-cart"></i></a><a href="{% url 'public:product' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Producto"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="product-item">
        <div class="product-item-img">
          <a href="{% url 'public:product' %}"><img data-src="{{ MEDIA_URL }}img/products/2.png" class="lazyload" alt=""></a>
        </div>
        <div class="product-item-text">
          <a href="{% url 'public:product' %}"><h2>Camara Pro 45</h2></a>
          <p>$200.00</strike></p>
          <div class="product-item-btns">
            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar al Carro"><i class="fa fa-shopping-cart"></i></a><a href="{% url 'public:product' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Producto"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="product-item">
        <div class="product-item-img">
          <a href="{% url 'public:product' %}"><img data-src="{{ MEDIA_URL }}img/products/3.png" class="lazyload" alt=""></a>
        </div>
        <div class="product-item-text">
          <a href="{% url 'public:product' %}"><h2>Ipad 5.0</h2></a>
          <p>$190.00</strike></p>
          <div class="product-item-btns">
            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar al Carro"><i class="fa fa-shopping-cart"></i></a><a href="{% url 'public:product' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Producto"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- products -->
<section class="products st-mt">
  <div class="container">
    <div class="st-text text-center">
      <h2>Lista de Productos</h2>
      <p>Aquí encontraras todos nuestros productos</p>
    </div>
    <div class="table-responsive">
      <table class="table text-center">
        <tbody>
          <tr>
            <td><a href=""><img data-src="{{ MEDIA_URL }}img/products/1.png" class="lazyload" width="70" alt=""></a></td>
            <td class="name"><a href="">Audifonos SG 90</a></td>
            <td><p>$90.00 <strike>$100.00</strike></p></td>
            <td><a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar al Carro"><i class="fa fa-shopping-cart"></i></a><a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Producto"><i class="fa fa-search-plus"></i></a></td>
          </tr>
          <tr>
            <td><a href=""><img data-src="{{ MEDIA_URL }}img/products/2.png" class="lazyload" width="70" alt=""></a></td>
            <td class="name"><a href="">Camara Pro 45</a></td>
            <td><p>$200.00</p></td>
            <td><a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar al Carro"><i class="fa fa-shopping-cart"></i></a><a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Producto"><i class="fa fa-search-plus"></i></a></td>
          </tr>
          <tr>
            <td><a href=""><img data-src="{{ MEDIA_URL }}img/products/3.png" class="lazyload" width="70" alt=""></a></td>
            <td class="name"><a href="">Ipad 5.0</a></td>
            <td><p>$190.00</p></td>
            <td><a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar al Carro"><i class="fa fa-shopping-cart"></i></a><a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Producto"><i class="fa fa-search-plus"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}