{% extends 'layouts/default.html' %}

{% block title %} Resultados de Busqueda - JAGUARETE KAA S.A {% endblock %}

{% block body %}

<!-- banner -->
<section class="banner lazyload" data-src="{{ MEDIA_URL }}img/1.png">
  <div class="container">
    <div class="banner-text">
      <h1>Resultados de Busqueda</h1>
      <p>aquí podrás ver todos los resultados de busqueda relacionadas a las caterorías y productos del sitio.</p>
    </div>
  </div>
</section>

<!-- products -->
<section class="products st-mt">
  <div class="container">
    <div class="table-responsive">
      <table class="table text-center">
        <tbody>
          <tr>
            <td><a href=""><img data-src="{{ MEDIA_URL }}img/products/1.png" class="lazyload" width="70" alt=""></a></td>
            <td class="name"><a href="">Audifonos SG 90</a></td>
            <td><p>$90.00 <strike>$100.00</strike></p></td>
            <td><a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar al Carro"><i class="fa fa-shopping-cart"></i></a><a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Producto"><i class="fa fa-search-plus"></i></a></td>
          </tr>
          <tr>
            <td><a href=""><img data-src="{{ MEDIA_URL }}img/products/2.png" class="lazyload" width="70" alt=""></a></td>
            <td class="name"><a href="">Camara Pro 45</a></td>
            <td><p>$200.00</p></td>
            <td><a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar al Carro"><i class="fa fa-shopping-cart"></i></a><a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Producto"><i class="fa fa-search-plus"></i></a></td>
          </tr>
          <tr>
            <td><a href=""><img data-src="{{ MEDIA_URL }}img/products/3.png" class="lazyload" width="70" alt=""></a></td>
            <td class="name"><a href="">Ipad 5.0</a></td>
            <td><p>$190.00</p></td>
            <td><a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar al Carro"><i class="fa fa-shopping-cart"></i></a><a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Producto"><i class="fa fa-search-plus"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock %}