.btn-cargarImg
{
    top: 0;
    width: 50%;
    height: auto;
    min-height: 100px;
    max-height: 500px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid rgba(188, 191, 191, .9);
    border-style: dashed;
    background: transparent 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url('../img/add-image.png');
    line-height: 0px;
}

.btn-cargarImg-width
{
    width: 100%;
}

@media screen and (max-width: 400px)
{
    .btn-cargarImg{
       
        width: 100%;
       
    }
}

.img_base_weight
{
    top: 0;
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
    line-height: 0px;

}

.inputfile 
{
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label 
{
  
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    font-size: 0;
    line-height: 0;
    
}

/* style 1 */

.inputfile-1 + label 
{
    top: 0;
    color: #f1e5e6;
    background-color: transparent;
    width: 100%;
    height: 100%;
    background: transparent 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 0;
    overflow: hidden;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover 
{
    background-color: transparent;
}
