*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*--------------------------------------------
            variables of the site
--------------------------------------------*/
:root 
{
  --gray-site: #f7f7f7;
  --gray-light-site: #f6f5f5;
  --gray-dark-site: #9baeaf;
  --gray-light-org-site: #e6e6e6;
  --gray-light-org-site-p: #ced4da;
  --white-site: #ffffff;
  --dark-site: #2d2d2d;
  --dark-light-site: #474747;
  --black-dark-site: #000000;
  --green-whatsapp-site: #00e676;
  --yellow-site: #e8a348;
  --yellow-light-site: #edb366;
  --blue-site: #1b96ed;
  --blue-light-site: #2e9fee;
  --font-family-montserrat-serif: 'Montserrat', sans-serif;
  --font-family-font-awesome: 'Font Awesome 5 Free';
  --font-family-font-awesome-brands: 'Font Awesome 5 Brands';
}

/*--------------------------------------------
              Styles Globals
--------------------------------------------*/

body 
{
    scrollbar-face-color: transparent;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: var(--dark-site);
    text-align: left;
    background-color: var(--white-site);
    scroll-behavior: smooth;
}

/* --- contentID ---*/

#contentID
{
  opacity: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

/*--- loading ---*/

.loader-container
{
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: fixed;
  background-color: var(--white-site);
  z-index: 5000;
  transition: all 500ms ease-in-out;
}

.loader-animation
{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}

.closelg 
{
    z-index: 0;
    opacity: 0;
}

/* lds-dual-ring */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgba(188, 191, 191, 1);
  border-color: rgba(188, 191, 191, 1) transparent rgba(188, 191, 191, 1) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*--- style elements ---*/

a
{
  text-decoration: none;
}

a, button
{ 
  cursor: pointer;
  outline: none;
  -ms-touch-action: none !important;
  touch-action: none !important;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img 
{
    vertical-align: middle;
    border-style: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6
{
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

p
{
  margin-top: 0;
  margin-bottom: 1rem;
}

hr 
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button[disabled]
{
  cursor: not-allowed;
  pointer-events: auto;
  box-shadow: none; 
  opacity: 0.65;
}

.btn.disabled, 
.btn:disabled, 
fieldset:disabled .btn 
{
  cursor: not-allowed;
  pointer-events: auto;
  box-shadow: none; 
  opacity: 0.65;
}

.message-alerts
{
  width: 100%;
  height: auto;
  position: relative;
}

.alert
{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-family: var(--font-family-montserrat-serif);
}

.alert ul
{
  list-style: none;
}

.alert-image
{
  display: none;
}

.alert-site
{
    width: 100%;
    margin-bottom: 10px;
    display: none;
}

.alert-success 
{
    color: #fff;
    background-color: #21aa93;
    border-color: #21aa93;
}

.alert-info 
{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-danger,
.alert-error 
{
    color: #fff;
    background-color: #ee4540;
    border-color: #c72c41;
}

.alert-warning 
{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-dismissible 
{
    padding-right: 2.8em;
}

.close 
{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000 !important;
    text-shadow: 0 1px 0 #fff; 
    opacity: .5;
    cursor: pointer;
}

.alert-dismissible .close 
{
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
}

button.close 
{   
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.show 
{
    opacity: 1;
    visibility: visible;
}

.fade 
{
    transition: opacity .15s linear;
}

.btn-yellow
{
  background: var(--yellow-site);
  border: 1px solid var(--yellow-site);
  color: var(--white-site);
}

.btn-yellow:hover
{
  background: var(--yellow-light-site);
  border: 1px solid var(--yellow-light-site);
  color: var(--white-site);
}

.btn-dark
{
  background: var(--dark-site);
  border: 1px solid var(--dark-site);
  color: var(--white-site);
}

.btn-dark:hover
{
  background: var(--dark-light-site);
  border: 1px solid var(--dark-light-site);
}

/*--------------------------------------------
                    Menu
--------------------------------------------*/

.header
{
  top: 0px;
  width: 100%;
  height: auto;
  position: sticky;
  background: var(--dark-site);
  z-index: 1000;
  transition: all 500ms ease-in-out;
}

.top-menu
{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  transition: all 500ms ease-in-out;
}

.top-menu.scroll
{
  padding: 8px 0px;
}

.tp-menu-message
{
  width: 40%;
  height: auto;
  position: relative;
}

.tp-menu-message span
{
  width: 100%;
  font-family: var(--font-family-montserrat-serif);
  font-size: 12px;
  color: var(--white-site);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.tp-menu-items
{
  width: 60%;
  height: auto;
  position: relative;
}

.tp-menu-items > ul
{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  justify-items: center;
  padding-left: 0px;
  margin: 0px;
}

.tp-menu-items > ul > li
{
  margin: 0px 15px;
  position: relative;
}

.tp-menu-items > ul > li:first-child
{
  margin-left: 0px;
}

.tp-menu-items > ul > li:last-child
{
  margin-right: 0px;
}

.tp-menu-items > ul > li > a
{
  font-family:  var(--font-family-montserrat-serif);
  font-size: 12px;
  line-height: 12px;
  color: var(--white-site);
  position: relative;
}

.tp-menu-items > ul > li > a:hover
{
  text-decoration: underline;
}

.tp-menu-items > ul > li > a::after,
.tp-menu-items > ul > li > .cart-h::after
{
  content: '';
  top: 50%;
  right: -15px;
  width: 1px;
  height: 15px;
  position: absolute;
  pointer-events: none;
  background: var(--white-site);
  transform: translateY(-50%);
}

.tp-menu-items > ul > li:last-child > a::after
{
  display: none;
}

.cart-h,
.search-h
{
  color: var(--white-site);
  cursor: pointer;
  position: relative;
}

.cart-h i
{
  font-size: 15px;
  margin-right: 12px;
}

.cart-h span
{
  top: -5px;
  right: -3px;
  width: 20px;
  height: 20px;
  font-size: 9px;
  padding:  0px 3px;
  background: var(--yellow-site);
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-list
{
  top: 50px;
  right: -15px;
  width: 300px;
  height: auto;
  position: absolute;
  background: var(--white-site);
  z-index: 2;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.19);
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.cart-list.show
{
  top: 39px;
  visibility: visible;
  opacity: 1;
}

.top-menu.scroll .cart-list.show
{
  top: 32px;
}

.cart-list::before 
{
  content: '';
  top: -20px;
  right: 24px;
  border: 10px solid transparent;
  border-bottom-color: var(--yellow-site);
  position: absolute;
}

.cart-list > ul
{
  width: 100%;
  height: auto;
  min-height: 100px;
  max-height: 300px;
  position: relative;
  overflow-y: auto;
  list-style: none;
  padding: 15px 15px;
  margin-bottom: 0px;
}

/*--- style scroll filter ---*/

.cart-list > ul::-webkit-scrollbar 
{
  width: 5px;
  height: 5px;
}

.cart-list > ul::-webkit-scrollbar-track
{
  background-color: transparent;
} 

.cart-list > ul::-webkit-scrollbar-thumb
{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 10px 10px;
  transition: all 300ms ease-in-out;
}

.cart-list > ul:hover::-webkit-scrollbar-thumb
{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 10px 10px;
}

.cart-list > ul::-webkit-scrollbar-thumb:hover
{
  background-color: rgba(0, 0, 0, 0.4);      
}

.cart-list > ul::-webkit-scrollbar-button 
{
  width: 0px;
  height: 0px;
}

.cart-list > ul::-webkit-scrollbar-corner
{
  background-color: transparent;
}

.cart-list > ul > li
{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.cart-list > ul > li:last-child
{
  margin-bottom: 0px;
}

.ct-ls-img-product
{
  width: 70px;
  height: auto;
  position: relative;
}

.ct-ls-img-product img
{
  width: 100%;
  height: auto;
  max-height: 70px;
  object-fit: cover;
}

.ct-ls-description
{
  width: 70%;
  height: auto;
  position: relative;
  padding-left: 15px;
  padding-right: 20px;
}

.ct-ls-description p,
.ct-ls-description span
{
  font-family: var(--font-family-montserrat-serif);
}

.ct-ls-description p
{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: -3px;
}

.ct-ls-description span
{
  font-size: 13px;
}

.ct-ls-description .close
{
  right: 0px;
  font-size: 12px;
  position: absolute;
}

.ct-btns
{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.ct-btns a
{
  width: 50%;
  padding: 10px 15px;
  height: auto;
  border-radius: 0px;
}

/* --- search --- */

.search-h i
{
  font-size: 15px;
}

.search-form
{
  top: 50px;
  right: -15px;
  width: 300px;
  height: auto;
  position: absolute;
  background: var(--white-site);
  z-index: 2;
  padding: 15px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.19);
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.search-form.show
{
  top: 39px;
  visibility: visible;
  opacity: 1;
}

.top-menu.scroll .search-form.show
{
  top: 32px;
}

.search-form::before 
{
  content: '';
  top: -20px;
  right: 14px;
  border: 10px solid transparent;
  border-bottom-color: var(--yellow-site);
  position: absolute;
}

.search-form input[type=search]
{
  font-family: var(--font-family-montserrat-serif);
  font-size: 14px;
  border: 1px solid var(--gray-light-site);
  background: var(--gray-light-site);
  color: var(--dark-site);
  padding-right: 20px;
}

.search-form input[type=search]::-webkit-input-placeholder
{
  color: var(--dark-site);
  font-weight: 500;
}

.search-form input[type=search]::-moz-placeholder
{
  color: var(--dark-site);
  font-weight: 500;
  opacity: 1;
}

.search-form input[type=search]:-moz-placeholder
{
  color: var(--dark-site);
  font-weight: 500; 
  opacity: 1;
}

.search-form input[type=search]:-ms-input-placeholder
{
  color: var(--dark-site);
  font-weight: 500; 
}

.search-form input[type=search]:hover,
.search-form input[type=search]:focus,
.search-form input[type=search]:active
{
  outline: none;
  border: 1px solid var(--gray-light-site);
  box-shadow: none;
}

.search-form button
{
  top: 50%;
  right: 20px;
  position: absolute;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: var(--dark-site);
}

.search-form button i
{
  font-size: 15px;
}

/* --- navbar --- */


.navbar-brand .logo
{
  transition: all 500ms ease-in-out;
}

.navbar-light .navbar-nav .nav-link
{
  font-family: var(--font-family-montserrat-serif);
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-site);
}

.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:hover 
{
    color: var(--yellow-site);
}

/* --- responsive menu --- */

@media screen and (max-width: 500px)
{
  .tp-menu-message
  {
    width: 30%;
  }

  .tp-menu-items
  {
    width: 80%;
  }
}

@media screen and (max-width: 390px)
{
  .tp-menu-message
  {
    display: none;
  }

  .tp-menu-items
  {
    width: 100%;
  }

  .tp-menu-items > ul
  {
    justify-content: center;
    justify-items: center;
  }

  .cart-list
  {
    right: -50px;
    width: 250px;
  }

  .cart-list::before 
  {
    top: -20px;
    right: 58px;
  }

  .cart-list > ul
  {
    max-height: 300px;
  }

  .ct-ls-img-product
  {
    width: 60px;
  }

  .ct-ls-img-product img
  {
    max-height: 60px;
  }

  .ct-ls-description
  {
    width: 70%;
  }

  .search-form
  {
    width: 250px;
  }

  .search-form.show
  {
    top: 39px;
    visibility: visible;
    opacity: 1;
  }

  .search-form::before 
  {
    content: '';
    top: -20px;
    right: 11px;
    border: 10px solid transparent;
    border-bottom-color: var(--yellow-site);
    position: absolute;
  }
}

/*--------------------------------------------
              General Styles
--------------------------------------------*/

/* --- sections --- */

.st-mt
{
  margin-top: 5em;
}

@media (max-width: 640px)
{
  .st-mt
  {
    margin-top: 3em;
  }
}

/* --- banner --- */

.banner
{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 0px;
}

.banner::before
{
  content: '';
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  background: rgba(0,0,0,0.5);
}

.banner-text
{
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
  text-align: center;
}

.banner-text h1,
.banner-text h2,
.banner-text p,
.banner-text a
{
  font-family: var(--font-family-montserrat-serif);
}

.banner-text h1
{
  font-weight: 600;
  color: var(--yellow-site);
  text-shadow: 2px 1px 10px rgba(0,0,0,0.4);
  margin: 0px;
}

.banner-text h2
{
  color: var(--white-site);
  text-shadow: 2px 1px 10px rgba(0,0,0,0.4);
  margin: 0px;
}

.banner-text p
{
  color: var(--white-site);
  text-shadow: 2px 1px 10px rgba(0,0,0,0.4);
  margin: 1em 0px;
}

.banner-text a
{
  margin-top: 1em;
}

/* --- section text --- */

.st-text
{
  width: 100%;
  max-width: 400px;
  height: auto;
  position: relative;
  margin-bottom: 2em;
}

.st-text.text-center
{
  margin: 0 auto;
  margin-bottom: 2em;
}

.st-text h2,
.st-text p
{
  font-family: var(--font-family-montserrat-serif);
}

.st-text h2
{
  font-weight: 500;
  color: var(--yellow-site);
  margin-bottom: 5px;
}

.st-text p
{
  font-weight: 500;
}

.footer
{
  width: 100%;
  height: auto;
  position: relative;
  background: var(--gray-site);
}

.footer .container
{
  padding: 3em 15px;
}

.footer-items
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
  margin-bottom: -15px;
}

.footer-item
{
  width: calc(33.33% - 30px);
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}

.footer-item:first-child
{
  padding-right: 2em;
}

.footer-item:last-child
{
  padding-left: 2em;
}

@media (max-width: 767px)
{
  .footer-item
  {
    width: calc(50% - 30px);
  }

  .footer-item:last-child
  {
    padding-left: 0px;
  }
}

@media (max-width: 430px)
{
  .footer-item
  {
    width: calc(100% - 30px);
  }

  .footer-item:first-child
  {
    padding-right: 0px;
  }

  .footer-item::after
  {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0px;
    bottom: -15px;
    background: var(--white-site);
  }
}

.footer-item img
{
  width: 100%;
  max-width: 120px;
  object-fit: cover;
  display: block;
  margin-bottom: 15px;
}

.footer-item p
{
  width: 100%;
  font-family: var(--font-family-montserrat-serif);
  font-size: 12px;
  text-align: justify;
  position: relative;
  margin-bottom: 0px;
}

.footer-item  h2
{
  width: 100%;
  font-family: var(--font-family-montserrat-serif);
  font-weight: 600;
  font-size: 18px;
  color: var(--yellow-site);
  margin-bottom: 10px;
  position: relative;
}

.footer-item .menu-footer
{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
  margin-bottom: -15px;
}

.footer-item .menu-footer ul
{
  width: calc(50% - 30px);
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  list-style: none;
  padding-left: 0px;
}

.footer-item .menu-footer ul li a
{
  font-family: var(--font-family-montserrat-serif);
  font-size: 14px;
  color: var(--dark-site);
  transition: all 400ms ease-in-out;
}

.footer-item .menu-footer ul li a:hover,
.footer-item .menu-footer ul li a.active
{
  color: var(--yellow-site);
}

/* --- social --- */

.social
{
  width: 100%;
  max-width: 250px;
  height: auto;
  position: relative;
  padding-left: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social li a
{
  width: 35px;
  height: 35px;
  background: var(--dark-site);
  color: var(--white-site);
  position: relative;
  display: block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-in-out;
}

.social li a:hover
{
  background: var(--yellow-site);
}


/* --- copyright --- */

.copyright
{
  width: 100%;
  height: auto;
  position: relative;
  padding: 15px 15px;
  background: var(--white-site);
  text-align: center;
}

.copyright p
{
  font-family: var(--font-family-montserrat-serif);
  font-size: 12px;
  color: var(--dark-site);
  margin: 0px;
}

.copyright p b
{
  font-weight: 600;
  color: var(--dark-site);
}

.copyright p a:hover
{
  color: var(--dark-site);
  text-decoration: underline;
}

/*--------------------------------------------
                  Home
--------------------------------------------*/

.last_products
{
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.product-items
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: -15px;
  margin-bottom: -15px;
}

.product-item
{
  width: calc(33.33% - 30px);
  height: auto;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 767px)
{
  .product-item
  {
    width: calc(50% - 30px);
  }
}

@media (max-width: 430px)
{
  .product-item
  {
    width: calc(100% - 30px);
  }
}

.product-item-img
{
  width: 100%;
  height: auto;
  max-height: 300px;
  position: relative;
  overflow: hidden;
}

.product-item-img img
{
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  display: block;
  transition: all 500ms ease-in-out;
  transform: scale(1);
}

.product-item:hover .product-item-img img
{
  transform: scale(1.2);
}

.product-item-text
{
  width: 100%;
  height: auto;
  padding: 15px;
  background:  var(--gray-site);
  font-family: var(--font-family-montserrat-serif);
  text-align: center;
  position: relative;
}

.product-item-text h2
{
  font-size: 18px;
  font-weight: 600;
  color: var(--yellow-site);
  display: inline-block;
  margin: 0px;
}

.product-item-text p
{
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
}

.product-item-text p strike
{
  margin-left: 10px;
  position: relative;
  color: #a6a6a6;
}

.product-item-text p strike::before
{
  content: '-';
  left: -10px;
  color: var(--dark-site);
  position: absolute;
}

.product-item-btns
{
  bottom: 100%;
  left: 0px;
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  justify-content: center;
}

.product-item-btns a
{
  width: 40px;
  height: 40px;
  position: relative;
  color: var(--dark-site);
  background: var(--gray-site);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease-in-out;
}

.product-item-btns a:hover
{
  background: var(--dark-site);
  color: var(--white-site);
}

.product-item-btns a:first-child
{
  background-color: var(--yellow-site);
  color: var(--white-site);
  border-top-left-radius: 10px;
}

.product-item-btns a:first-child:hover
{
  background: var(--dark-site);
  color: var(--white-site);
}

.product-item-btns a:last-child
{
  border-top-right-radius: 10px;
}

/* --- list products --- */

.products
{
  width: 100%;
  height: auto;
  position: relative;
}

/* -- table -- */

.table
{
    width: 100%;
    min-width: 900px;
    margin-bottom: 0px;
    color: #212529;
}

table 
{
    border-collapse: collapse;
    display: table;
    font-family: var(--font-family-montserrat-serif);
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table-responsive 
{
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.products .table-responsive
{
  padding: 10px 0px;
  background: var(--gray-site);
}

/*--- style scroll table---*/

.table-responsive::-webkit-scrollbar 
{
  width: 5px;
  height: 5px;
}

.table-responsive::-webkit-scrollbar-track
{
  background-color: transparent;
} 

.table-responsive::-webkit-scrollbar-thumb
{
  background-color: transparent;
  border-radius: 10px 10px 10px 10px;
  transition: all 300ms ease-in-out;
}

.table-responsive:hover::-webkit-scrollbar-thumb
{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 10px 10px;
}

.table-responsive::-webkit-scrollbar-thumb:hover
{
  background-color: rgba(0, 0, 0, 0.5);      
}

.table-responsive::-webkit-scrollbar-button 
{
  width: 0px;
  height: 0px;
}

.table-responsive::-webkit-scrollbar-corner
{
  background-color: transparent;
}

thead
{
  background: #f6f5f5;
}

.table>:not(:last-child)>:last-child>* 
{
  border-bottom-color: #f6f5f5; 
}

.table td,
.table th 
{
  padding: .75rem;
  vertical-align: middle;
  border: 1px solid #f6f5f5;
}

.products .table td,
.products .table th 
{
  padding: .75rem;
  vertical-align: middle;
  border:  none;
  border-bottom: 1px solid var(--white-site)
}

.products .table tr:last-child > td,
.products .table tr:last-child > th
{
  border: none;
} 

.table td.name
{
  width: 300px;
}

.table td p
{
  font-size: 14px;
  margin-bottom: 0px;
}

.table td p strike
{
  margin-left: 10px;
  position: relative;
  color: #a6a6a6;
}

.table td p strike::before
{
  content: '-';
  left: -10px;
  color: var(--dark-site);
  position: absolute;
}

.table td p em
{
  font-size: 12px
  color: var(--gray-dark-site);
}

.table td a
{
  font-size: 15px;
  color: var(--dark-site);
  cursor: pointer;
  text-decoration: none;
  margin: 0px 5px;
}

.table td a:hover
{
  color: var(--yellow-site);
}

.st-background thead
{
  background: #fff;
}

.st-background .table td,
.st-background .table th 
{
    border: 1px solid #fff;
}

/*--------------------------------------------
                  about
--------------------------------------------*/

.about
{
  width: 100%;
  height: auto;
  position: relative;
}

.about-content
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.about-content img
{
  width: 40%;
  height: auto;
  float: left;
  object-fit: cover;
}

.about-text
{
  width: 60%;
  height: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-left: 4em;
}

.about-text h2
{
  font-family: var(--font-family-montserrat-serif);
  color: var(--yellow-site);
}

.about-text p
{
  font-family: var(--font-family-montserrat-serif);
  color: var(--dark-site);
  text-align: justify;
}

@media (max-width: 767px)
{
  .about-text
  {
    padding-left: 2em;
  }
}

@media (max-width: 575px)
{
  .about-content
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .about-content img
  {
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
  }

  .about-text
  {
    width: 100%;
    padding-left: 0px;
  }
}

/*--------------------------------------------
                  cart
--------------------------------------------*/
  
.cart
{
  width: 100%;
  height: auto;
  position: relative;
}

.quantity
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.quantity input
{
  width: 50px;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid var(--gray-light-org-site);
  padding: .5em;
}

.qt-btns
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.qt-btns button
{
  width: 25px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
   background: var(--dark-site);
  color: var(--white-site);
  border: none;
  padding: 3px;
  transition: all 300ms ease-in-out;
}

.qt-btns button:first-child
{
  border-top-right-radius: 5px;
}

.qt-btns button:last-child
{
  border-bottom-right-radius: 5px;
}

.qt-btns button:hover
{
  background: var(--yellow-site);
  color: var(--white-site);
}

.qt-btns button i
{
  font-size: 12px;
}

.cart-values
{
  width: 100%;
  height: auto;
  padding: 15px;
  background: var(--gray-site);
  margin-top: -5px;
  display: block;
}

.cart-values p
{
  font-family: var(--font-family-montserrat-serif);
  text-align: center;
  margin-bottom: 0px;
}

.cart-values p b
{
  font-weight: 600;
}

.cart-btns
{
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 3em;
  text-align: center;
}

.cart-btns a
{
  margin: 5px;
}

/*--------------------------------------------
              login and register
--------------------------------------------*/

.form-site
{
  width: 100%;
  height: auto;
  position: relative;
}

.form-content
{
  width: 60%;
  height: auto;
  position: relative;
  margin:  0 auto;
}

.site-sm
{
  width: 40%;
}

@media (max-width: 991px)
{
  .form-content
  {
    width: 80%;
  }

  .site-sm
  {
    width: 70%;
  }
}

@media (max-width: 767px)
{
  .form-content
  {
    width: 100%;
  }

  .site-sm
  {
    width: 100%;
  }
}

.form-mt
{
  margin-top: 0px;
}

.form-check-input:checked 
{
  background-color: var(--yellow-site);
  border-color: var(--yellow-site);
}

.form-control,
.form-check-label
{
  font-family: var(--font-family-montserrat-serif);
  font-size: 15px;
}

.field-password,
.field-group
{
  position: relative;
}

.field-group label
{
  font-family: var(--font-family-montserrat-serif);
  font-weight: 600;
  font-size:  14px;
}

.field-group textarea
{
  width: 100%;
  height: 150px;
  min-height: 150px;
}

.button-password 
{
  top: 50%;
  color: var(--gray-dark-site);
  right: 15px;
  cursor: pointer!important;
  pointer-events: auto!important;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  position: absolute;
  transform: translateY(-50%);
}

.button-password:before 
{
  content: "\f06e";
  font-family: var(--font-family-font-awesome);
  font-weight: 900;
}

.password-active:before 
{
  content: "\f070"!important;
  font-family: var(--font-family-font-awesome);
  font-weight: 900;
}

.button-password:hover,
.form-control:hover~.button-password 
{
  opacity: 1;
}

.button-password:hover 
{
  color: var(--dark-site);
}

.link-form
{
  width: 100%;
  height: auto;
  position: relative;
}

.link-form span
{
  font-family: var(--font-family-montserrat-serif);
  font-size: 14px;
  cursor: pointer;
}

.link-form span:hover
{
  text-decoration: underline;
}

/*--------------------------------------------
                product
--------------------------------------------*/

.product
{
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.product-img
{
  width: 100%;
  height: auto;
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

.product-img img
{
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.product-text
{
  width: 100%;
  height: auto;
  position: relative;
}

.product-text h2,
.product-text h3,
.product-text p
{
  font-family: var(--font-family-montserrat-serif);
}


.product-text h2
{
  font-weight: 600;
  color: var(--yellow-site);
}

.product-text h3
{
  font-size: 15px;
}

.product-text p
{
  font-size: 15px;
  text-align: justify;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.product-actions
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: -15px;
  margin-bottom: -15px;
  margin-right: -15px;
  margin-left: -15px;
}

.product-quantity
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.product-quantity input
{
  width: 70px;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid var(--gray-light-org-site);
  padding: .5em;
}

.product-quantity .qt-btns
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-quantity .qt-btns button
{
  width: 25px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
   background: var(--dark-site);
  color: var(--white-site);
  border: none;
  padding: 3px;
  transition: all 300ms ease-in-out;
}

.product-quantity .qt-btns button:first-child
{
  border-top-right-radius: 5px;
}

.product-quantity .qt-btns button:last-child
{
  border-bottom-right-radius: 5px;
}

.product-quantity .qt-btns button:hover
{
  background: var(--yellow-site);
  color: var(--white-site);
}

.product-quantity .qt-btns button i
{
  font-size: 12px;
}

.product-btns
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.product-btns a,
.product-btns button
{
  margin: 5px;
}

.product-btns a i,
.product-btns button i
{
  margin-right: 5px;
}

/*--------------------------------------------
                End Styles
--------------------------------------------*/